params {
    images = [
        ubuntu:                'ubuntu:22.04',
        panorama_client:       'quay.io/protio/panorama-client:1.1.0',
        limelight_xml_convert: 'mriffle/casanovo-to-limelight:1.0.1',
        limelight_upload:      'quay.io/protio/limelight-submit-import:4.0.1',
        casanovo:              'quay.io/protio/casanovo:4.1.0',
        proteowizard:          'quay.io/protio/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24054-2352758'
    ]
}
