params {

    // path to your raw, mzml, or mzxml file
    spectra_file = '/path/to/file'

    // path to your casanovo configuration file
    // a sample may be found at:
    // https://raw.githubusercontent.com/mriffle/nf-ms-dda-casanovo/main/resources/casanovo.yaml
    casanovo_params = 'casanovo.yaml'

    // the casanovo weights file to use
    casanovo_weights = 'https://github.com/Noble-Lab/casanovo/releases/download/v4.2.0/casanovo_v4_2_0.ckpt'

    // whether or not to use available GPUs. Note: if no GPUs
    // are available, this must be set to false
    use_gpus = true

    // whether or not to upload to limelight
    limelight_upload = false

    // limelight upload parameters -- only required
    // if uploading to limelight
    limelight_project_id         = 141
    limelight_search_description = 'casanovo test 4.2 weights'
    limelight_search_short_name  = '4.2w'
    limelight_tags               = '4.2'

    // unlikely to need to change this
    limelight_webapp_url = 'https://limelight.yeastrc.org/limelight'
}

profiles {

    /*
     * Params for running pipeline on the local computer (e.g.:
     * your laptop). These can be overridden in the local config file.
     */
    standard {
        process.executor = 'local'

        // limit nextflow to running 1 task at a time
        executor.queueSize = 1

        params.max_memory = '12.GB'
        params.max_cpus = 8
        params.max_time = '240.h'

        // where to cache mzml files after running msconvert
        params.mzml_cache_directory = '/data/mass_spec/nextflow/nf-ms-dda-casanovo/mzml_cache'
        params.panorama_cache_directory = '/data/mass_spec/nextflow/panorama/raw_cache'
    }
}

mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
